<app-navbar></app-navbar>
<div class="container-fluid">

      <div class="row">
            <div class="col-sm-3 col-md-6 col-lg-4">
            <img src="./assets/img/mission.png" style="max-width: 150vw">
            </div>
            <div class="col-sm-9 col-md-6 col-lg-8">
                  <div class="row">
                        <div class="col-sm-4 col-md-4 col-lg-4">
                              <p> 
                              Becoming India's <br>Footballing Centre.</p>
                        </div>
                        <div class="col-sm-4 col-md-4 col-lg-4">
                              <p> Preparing a Platform <br>for the blue Dream.</p>
                        </div>
                        <div class="col-sm-4 col-md-4 col-lg-4">
                              <p> Crisp Fast and Accurate <br>Match Insights.</p>
                        </div>
                  </div>

                  <div class="row">
                        <div class="col-sm-6 col-md-6 col-lg-6">
                              <p> First Hand Interviews<br> and Analysis.</p>
                        </div>
                  
                        <div class="col-sm-6 col-md-6 col-lg-6">
                              <p> Always in Search of <br>Unearthing Talent.</p>
                        </div>
                  </div>
            </div>
      </div>
</div>



<hr>


<div class="container-fluid">

      <div class="row">
            
            <div class="hide">
                  <img src="./assets/img/about.png" style="max-width: 110vw; padding-right: 15vw">      
            </div>

            <div class="col-sm-9 col-md-6 col-lg-7">
                  <p class="font1">Our pursuit at The Goal Story is to boost and develop a holistic football community connecting fans, pundits, scouts, athletes, coaches, academies and talent agents alike from the grassroot programmes to the best in the world.</p>
      
            </div>
           
            <div class="col-sm-3 col-md-6 col-lg-3 hide1">
                  <img src="./assets/img/about.png" style="max-width: 110vw; padding-right: 15vw">
            </div>
           
      </div>
</div>
<app-footer></app-footer>